  /*NAV*/

  html {
    scroll-behavior: smooth;
    background-color: white;
    color: white;
    height: 100%;
    min-height: 100%;
  }
  
  body {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .fundo {
    background-color: #3e4144;
  }
  
  .container {
    width: 60%;
    margin: 0 auto;
  }

.navigation {
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
@media only screen and (max-width:725px) {
  .navigation {
    height: 85px;
  }
}

@media (min-width:320px) and (max-width:425px) {
  .overflow {
  overflow-x: hidden;
}
}

.button-menu {
  width: auto;
}

  .nav-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
  }
  
  .nav-container .links {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }

  .logo {
    padding: 15px;
  }
  
  .nav-container .logo {
    display: flex;
    align-items: center;
  }
  
  .nav-container .links a,
  .nav-container .logo a {
    text-decoration: none;
    transition: var(--transition-fast);
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .nav-container .links a {
    font-size: var(--font-medium);
    color: white;
  }
  
  .nav-container .logo p {
    font-size: var(--font-large);
  }
  
  .nav-container .links a:hover,
  .nav-container .logo p:hover {
    font-size: var(--font-large);
    text-decoration: underline;
  }

.links a:visited {
 text-decoration: none;
 color: white;
}

.links {
  margin-left: 55%;
  color: #fff;
}

.navbar .navbar-dark {
  background-color: #3e4144;
}

.mobile {
  opacity: 0; /* Esconde no desktop. */
  height: 0;
}

@media only screen and (max-width: 425px) {
  .mobile {
      opacity: 1; /* Só aparece no mobile. */
      height: auto;
  }
  .desktop {
    opacity: 0;
  }
}

.navbar-nav {
  --bs-nav-link-color: #3e4144 !important;
  --bs-nav-link-hover-color: #3e4144 !important;
  --bs-nav-link-disabled-color: #3e4144 !important;
}

.navbar-dark {
  --bs-navbar-active-color: #3e4144 !important;
}

.offcanvas {
  --bs-offcanvas-width:350px;
}

/* icones */
.iconesperiodos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #29323c;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}


.icon {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.icon h5.porcentagem{
  color: #b63b4d;
}

.container-pagina{
  overflow: auto;
}

/* crimes por região */
.criminalidadecidades{
 padding: 10px;
 background-color: white;
margin-top: 0;
}

.criminalidadecidades h3{
  color: #b63b4d;
}

/* tabela */
tr {
  border: 1px solid #3e4144;
}

td, th {
  padding: 0 10px;
  text-align: center;
  font-style: normal;
  border: 1px solid #3e4144;
}

table {
  border: 1px solid #3e4144;
  border-collapse: collapse;
}

@media screen and (min-width:320px) and (max-width:374px) {
  .tableh {
    width: 5% !important;
  }
} 


@media (max-width:725px) {
  .table {
    text-align: center;
  }
  .table-sm > :not(caption) > * > * {
    padding: 0 0 !important;
  }
  .tableh {
    width: 50%;
  }
}

/* aviso do inicio da página */

.aviso {
  background-color: #39a9b0;
  color: white;
  padding: 20px;
  display: flex;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.aviso.icon{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.aviso p{
  flex: 2;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon{
  flex: 0.4;
  width: 100%;
}

.avisop{
  flex: 2;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.botao{
  flex: 1;
}

button {
	cursor:pointer;
	width:100%;
	border:none;
	background: white;
	color:#39a9b0;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

@media screen and (max-width: 767px) {
  .container-pagina {
    padding: 10px;
  }
  
  .aviso {
    flex-direction: column;
    height: auto;
  }
  
  .icon {
    margin-bottom: 10px;
  }
  
  .avisop {
    margin-bottom: 10px;
  }
  
  .botao {
    display: flex;
    justify-content: center;
  }
}
/* icones */
@media screen and (max-width: 767px) {

    
  .porcentagem {
      margin-top: 5px;
      margin-bottom: 0;
  }
    
  .indicador-desc {
      margin-top: 0;
  }

  .iconesperiodos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .icon {
    flex: 0 0 50%;
    text-align: center;
    margin-bottom: 20px;
  }
  .icon:first-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .icon {
    flex: 0 0 100%;
  }
}


/* Estilos para tablets e dispositivos com telas maiores */
@media screen and (min-width: 768px) {
  .iconesperiodos {
    display: flex;
    justify-content: space-between;
  }
  
  .icon {
    flex: 0 0 25%;
    text-align: center;
    margin-bottom: 20px;
  }
}
/* aba do mapa */
.mapa {
  padding: 20px;
  background-color: white;
}

.mapaimagem{
  text-align: center;
  color: #b63b4d;
}

.ranking{
    padding: 70px;
  font-style: normal;
  font-size: 17px;
  line-height: 1.5cm;
}

@media (max-width:375px){
  .ranking {
    padding: 0;
    padding-top: 27px;
    line-height: 1cm;
  }
}

@media (min-width:376px) and (max-width:425px) {
  .ranking {
    line-height: 1cm; 
    padding: 23px;
  }
}

@media (min-width:375px) and (max-width:425px) {
  .mapa {
    padding: 10px;
  }
}


footer {
  position: unset;
  bottom: 0;
  background-color: #3e4144;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 100px;
  color: #fff;
}

.footer-bg {
  background-color: #3e4144;
  height: 100%;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  padding-bottom: 2%;
  padding-top: 2%;
}

@media screen and (max-width:768px){
  .footer-bg {
    font-size: 85%;
    background-color: #3e4144;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  th{
    max-width: 10px;
    max-height: max-content;
    font-size: 12px;
    letter-spacing: 2px;
  }


  .table {
    text-align: center;
  }
}



