form{
  color: #29323c;
}
:root {
    --title-span-color: #39a9b0;
  
    --font-medium: 1em;
    --font-medium-large: 1.25em;
    --font-large: 1.5rem;
    --font-x-large: 2rem;
    --font-2x-large: 3rem;
    --font-3x-large: 3.5rem;
  
    --transition-fast: 0.2s;
  }

  .logo {
    padding: 15px;
  }


  /*NAV*/

  html {
    scroll-behavior: smooth;
    background-color: white;
    color: white;
    height: 100%;
    min-height: 100%;
  }
  
  body {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .fundo {
    background-color: #3e4144;
  }
  
  .container {
    width: 60%;
    margin: 0 auto;
  }
  
.navigation {
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
@media screen and (max-width:600px) {
  .navigation {
    height: 85px;
  }
}

  .nav-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
  }
  
  .nav-container .links {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }
  
  .nav-container .logo {
    display: flex;
    align-items: center;
  }
  
  .nav-container .links a,
  .nav-container .logo a {
    text-decoration: none;
    transition: var(--transition-fast);
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .nav-container .links a {
    font-size: var(--font-medium);
    color: white;
  }
  
  .nav-container .logo p {
    font-size: var(--font-large);
  }
  
  .nav-container .links a:hover,
  .nav-container .logo p:hover {
    font-size: var(--font-large);
    text-decoration: underline;
  }

.links a:visited {
 text-decoration: none;
 color: white;
}

.links {
  margin-left: 55%;
  color: #fff;
}

.navbar .navbar-dark {
  background-color: #3e4144;
}

.mobile {
  opacity: 0; /* Esconde no desktop. */
  height: 0;
}

@media only screen and (max-width: 425px) {
  .mobile {
      opacity: 1; /* S처 aparece no mobile. */
      height: auto;
  }
<<<<<<< HEAD
  .desktop {
    opacity: 0;
  }
}

.navbar-nav {
  --bs-nav-link-color: #3e4144 !important;
  --bs-nav-link-hover-color: #3e4144 !important;
  --bs-nav-link-disabled-color: #3e4144 !important;
}

.navbar-dark {
  --bs-navbar-active-color: #3e4144 !important;
}

.offcanvas {
  --bs-offcanvas-width:350px;
}

=======
  
  @media only screen and (max-width: 425px) {
    .mobile {
        opacity: 1; /* S처 aparece no mobile. */
        height: auto;
    }
    .desktop {
      opacity: 0;
    }
  }
  
  .navbar-nav {
    --bs-nav-link-color: #3e4144 !important;
    --bs-nav-link-hover-color: #3e4144 !important;
    --bs-nav-link-disabled-color: #3e4144 !important;
  }
  
  .navbar-dark {
    --bs-navbar-active-color: #3e4144 !important;
  }
  
  .offcanvas {
    --bs-offcanvas-width:350px;
  }
  
>>>>>>> institucional.v02
.direita{
  text-align: left;
}

.img{
width: 100%; 
border: 3px solid ;
border-radius: 10px; 
border-color: #39a9b0;
}

p {
<<<<<<< HEAD
word-spacing: normal;
=======
  word-spacing: normal;
>>>>>>> institucional.v02
}

h1 {
text-align: center;

}

.titleinstitucional {
text-decoration: solid;
font-size: 30px;
}

.h11 {
color: #39a9b0;
}


footer {
position:unset;
bottom: 0;
background-color: #3e4144;
width: 100%;
height: 100px;
text-align: center;
font-size: 12px;
line-height: 100px;
color: #fff;
}

.footer-bg {
background-color: #3e4144;
}

@media screen and (max-width:600px){
<<<<<<< HEAD
.footer-bg {
  font-size: 10px;
  background-color: #3e4144;
  height: 100px;
  margin: 0;
  padding: 0;
}
}

.titulopagina{
margin-top: 10px;
padding: 30px;
text-decoration: none;
=======
  .footer-bg {
    font-size: 10px;
    background-color: #3e4144;
    height: 100px;
    margin: 0;
    padding: 0;
  }
}

.titulopagina{
  margin-top: 10px;
  padding: 30px;
  text-decoration: none;
>>>>>>> institucional.v02
}
/* miss찾o vis찾o valores */

.indicador-desc{
<<<<<<< HEAD
background-color: #3e4144;
color: #fff;
padding: 20px;
font-size: 17px;
text-align: center;
max-width: max-content;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.indicador-title{
background-color: #39a9b0;
color: #fff;
padding: 20px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.icon i{
padding: 20px;
}

.list-group{
background-color: #3e4144;
=======
  background-color: #3e4144;
  color: #fff;
  padding: 20px;
  font-size: 17px;
  text-align: center;
  max-width: max-content;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.indicador-title{
  background-color: #39a9b0;
  color: #fff;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.icon i{
  padding: 20px;
}

.list-group{
  background-color: #3e4144;
>>>>>>> institucional.v02
}

/* textos */
article{
<<<<<<< HEAD
font-family: 'Nunito Sans', sans-serif;
letter-spacing: 3px;
=======
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 3px;
>>>>>>> institucional.v02

}

article img{
<<<<<<< HEAD
text-align: center;
justify-content: center;
}

h3{
color: #b03b34;
}

mark {
color: #b03b34;
}

.titulostexto{
color: #b03b34;
}

.col-6{
text-align: center;
justify-content: center;
align-items: center;
}

.zonasulsegura{
text-align: center;
justify-content: center;
align-items: center;
=======
  text-align: center;
  justify-content: center;
}

h3{
  color: #b03b34;
}

mark {
  color: #b03b34;
}

.titulostexto{
  color: #b03b34;
}

.col-6{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.zonasulsegura{
  text-align: center;
  justify-content: center;
  align-items: center;
>>>>>>> institucional.v02
}