
:root {
    --title-span-color: #39a9b0;
  
    --font-medium: 1em;
    --font-medium-large: 1.25em;
    --font-large: 1.5rem;
    --font-x-large: 2rem;
    --font-2x-large: 3rem;
    --font-3x-large: 3.5rem;
  
    --transition-fast: 0.2s;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}  

  .logo {
    padding: 15px;
  }

  img {
    max-width: 100%;
    display: block;
  }

  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }

@media (min-width:320px) and (max-width:425px) {
  .overflow {
  overflow-x: hidden;
}
}

.banner-mobile {
  opacity: 0; /* Esconde no desktop. */
  height: 0;
}

@media only screen and (max-width: 425px) {
  .banner-mobile {
      opacity: 1; /* Só aparece no mobile. */
      height: auto;
  }
  .banner-desktop {
    opacity: 0;
    height: 0;
  }
}


  /*NAV*/

  html {
    scroll-behavior: smooth;
    background-color: white;
    color: white;
    height: 100%;
    min-height: 100%;
  }
  
  body {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .fundo {
    background-color: #3e4144;
  }
  
  .container {
    width: 60%;
    margin: 0 auto;
  }

.navigation {
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
@media screen and (max-width:600px) {
  .navigation {
    height: 85px;
  }
}

  .nav-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
  }
  
  .nav-container .links {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }
  
  .nav-container .logo {
    display: flex;
    align-items: center;
  }
  
  .nav-container .links a,
  .nav-container .logo a {
    text-decoration: none;
    transition: var(--transition-fast);
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .nav-container .links a {
    font-size: var(--font-medium);
    color: white;
  }
  
  .nav-container .logo p {
    font-size: var(--font-large);
  }
  
  .nav-container .links a:hover,
  .nav-container .logo p:hover {
    font-size: var(--font-large);
    text-decoration: underline;
  }

.links a:visited {
 text-decoration: none;
 color: white;
}

.links {
  margin-left: 30%;
  color: #fff;
}

.navbar .navbar-dark {
  background-color: #3e4144;
}

.mobile {
  opacity: 0; /* Esconde no desktop. */
  height: 0;
}

.desktop  {
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .mobile {
      opacity: 1; /* Só aparece no mobile. */
      height: auto;
  }
  .desktop {
    opacity: 0;
  }
  .navigation {
    overflow: hidden;
  }
}

.navbar-nav {
  --bs-nav-link-color: #3e4144 !important;
  --bs-nav-link-hover-color: #3e4144 !important;
  --bs-nav-link-disabled-color: #3e4144 !important;
}

.navbar-dark {
  --bs-navbar-active-color: #3e4144 !important;
}

.offcanvas {
  --bs-offcanvas-width:350px;
}

/*ATALHOS*/

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
  

.container {
  max-width: 2560px !important;
  height: 100%;
  padding-bottom: 3%;
}

@media (min-width:424px) and (max-width:725px) {
  .container{
    padding-bottom: 5%;
  }
  .atalhos {
    font-size: 49% !important;
    letter-spacing: 1px;
  }
}

@media (min-width:375px) and (max-width:423px) {
  .container{
    padding-bottom: 8%;
  }
  .atalhos {
    font-size: 52% !important;
    letter-spacing: 1px;
  }
}

@media (min-width:320px) and (max-width:374px) {
  .container{
    padding-bottom: 10%;
  }
  .atalhos {
    font-size: 50% !important;
    letter-spacing: 1px;
  }
}

.container-atalhos {
  width: 100%;
  align-self: center;
  align-items: center;
  align-content: center;
  background-color: #3e4144;
}

.card__figure {
  max-width: 100%;
  max-height: 100%;
}

.col a {
  color: #39a9b0;
  text-decoration: none;
  cursor: pointer;
}

.col a:visited {
  color: #39a9b0;
}

.col a:hover {
  color: #b03b34;
}

.atalhos {
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #39a9b0;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.container-atalhos::after {
  display: table;
  content: " ";
  clear: both;
  box-sizing: border-box;
}

.col .icon {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  height: 78%;
  color: white;
}

@media screen and (max-width:767px) {
  .atalhos-col {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
}

@media screen and (min-width:767px){
  .atalhos i {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/*NOTÍCIAS*/

.container-news {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  font-size:  0.875rem;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.news-title {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #b03b34;
}

.main-card__title {
  font-size: 18px;
}

.main-subtitle {
  color: #555;
  font-size: 15px;
}

.subtitle {
  color: #555;
  font-size: 12px;
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row-main-news{
    display: flex;
    align-items: stretch;
}

.row::before {
  display: table;
  content: " ";
}

.row::after {
  display: block;
  content: " ";
  clear: both;
}

.col-12 {
  float: left;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
}

.col, .col-md-6 {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
}

.main-news__border {
  display: block;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background: transparent;
}

.main-news__border:hover {
  text-decoration: underline;
}

.main-news__border::selection {
  text-shadow: none;
  color: #fff;
}

.main-news figure {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 595px;
  height: 400px;
}

.card__figure {
  position: relative;
  overflow: hidden;
}

.card__figure:after {
  content: " ";
  margin-left: -1px;
  display: block;
  float: left;
}

.figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.card__image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  cursor: pointer;
}

.row-main-news 
.card__content {
  color: black;
}

.row-main-news 
.card__title {
  font-weight: 600;
}

.row-main-news
.card__excerpt {
  font-weight: 600;
}

.card__excerpt {
  margin: 0;
  --bs-card-border-width:0 !important;
}

.aside-news {
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
}

.aside-news figure {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 608px;
  height: 160px;
}

.col-6 {
  float: left;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
}

@media screen and (min-width: 960px) {

  .card__text {
    font-size: 1.5rem; }
  .main-news__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .aside-news {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%; }
  .main-news__row {
    margin: 0 -5px; }
  .main-news__border {
    border: 2px solid;
    border-color: #fff;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease; }
  .main-news__border:hover {
    border-color: #39a9b0; }
}

@media screen and (max-width: 991px) {
  .main-news__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main-news__card {
    padding: 0;
    margin-bottom: 15px; }
    .main-news__highlight .card__content {
      background: #EBEBEB; }
  .aside-news {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 5px; }
    .aside-news .card__content {
      padding-left: 0;
      padding-right: 0; }
    }


@media (min-width: 1200px) {
  .container-news {
    width: 1200px !important; }
}

@media (min-width: 768px) {
  .container-news {
    width: 750px; }
}

@media (min-width: 960px) {
  .container-news {
    width: 970px; }
  .col-md-6 {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width:600px){
  .main-card{
    width: 50%;
  }
  .atalhos-col{
    padding-left: 6px;
    padding-right: 6px;
  }
  .atalhos-icon {
    margin: 0 !important;
  }
  .card__image {
    width: 100%;
    height: 100%;
  }
  .subtitle {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  .main-subtitle {
    opacity: 0;
    height: 0;
  }
  .main-row {
    padding-left: 0;
    padding-right: 0;
  }

  .news-columnL {
    padding-left: 0;
  }
  .news-columnR {
    padding-right: 0;
  }
}

/* FOOTER*/

footer {
  position: unset;
  bottom: 0;
  background-color: #3e4144;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 100px;
  color: #fff;
}

.footer-bg {
  background-color: #3e4144;
  height: 100%;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  padding-bottom: 2%;
  padding-top: 2%;
}

@media screen and (max-width:600px){
  .footer-bg {
    font-size: 85%;
    background-color: #3e4144;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}